attrs
beautifulsoup4
black
blis
bs4
catalogue
certifi
chardet
click
cloudpickle
cymem
spacy
#en-core-web-md #@ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl
Flask
Flask-Cors
flask-mongoengine
# Flask-Script
Flask-WTF
gevent
greenlet
# gunicorn==20.1.0
html2text
idna
itsdangerous
# Jinja2==3.0.1
joblib
MarkupSafe
mongoengine
murmurhash
numpy
packaging
pandas
parsedatetime
pathy
plac
pluggy
preshed
py
pydantic
pymongo
pyparsing
pytest
python-crfsuite
python-dateutil
pytz
requests
scikit-learn
scipy
simplejson
six
smart-open
soupsieve
srsly
thinc
threadpoolctl
tqdm
typer
typing-extensions
urllib3
wasabi
Werkzeug
WTForms
